@media (max-width: 1920px) {
}
.mobile_btn {
  display: flex;
  cursor: pointer;
  z-index: 10;
  margin-left: auto;
  color: #cbbe9c;
}

.menu {
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  padding: 70px 0px 0px 0px;
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  width: 25%;
  height: 100vh;
  background-color: #283340;
  z-index: 10;
  transition: right 1s;
}

.active {
  right: 0%;
}

.menu a {
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
  }
}
